/ {
    aliases {
        led1 = &led_1;

    };

    leds {
        compatible = "gpio-leds";
        led_1: led_1 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };
    };
       
};


/*
 * Overlay simplifié pour ESP32 avec nRF24L01
 */



&spi2 {
    status = "okay";
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
      nrf24l01: nrf24l01@0 {
        compatible = "nordic,nrf24l01";
        reg = <0>;
        spi-max-frequency = <10000000>;
    };
};

&i2c0 {
    status = "okay";
    mpu9250@68 {
        compatible = "invensense,mpu9250";
        reg = <0x68>;
        label = "MPU9250";

        /* PROPRIÉTÉS OBLIGATOIRES */
        gyro-sr-div = <0>;          // Sample rate divider
        gyro-dlpf = <250>;            // Digital low pass filter
        gyro-fs = <250>;              // Full scale (0 = 250 dps)

        accel-dlpf = "218.1";
        accel-fs = <8>;
    };
};
